.address {
  padding-top: 46px;
}
.address /deep/ .van-nav-bar .van-icon {
  color: #6b6b6b;
}
.address /deep/ .van-button--round {
  border-radius: 0;
}
.address /deep/ .van-tag--danger {
  background-color: #549434;
}
.address /deep/ .van-button--danger {
  background-color: #549434;
  border-color: #549434;
}
.address /deep/ .van-radio__icon {
  display: none;
}
.address .address-box {
  background-color: #f4f4f4;
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  right: 0;
}
