.forgot-password {
  padding-top: 46px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.forgot-password /deep/ .van-nav-bar .van-icon {
  color: #6b6b6b;
}
.forgot-password .logo {
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.forgot-password .logo-icon {
  width: 45px;
  height: 45px;
  background: url(../images/logo.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.forgot-password .logo-title {
  margin-left: 10px;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  color: #323337;
}
.forgot-password .logo-cname {
  font-size: 16px;
}
.forgot-password .login-content {
  margin-top: 30px;
  padding: 0 30px;
}
.forgot-password .content-title {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}
.forgot-password .content-info {
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;
  color: #9e9e9e;
  line-height: 30px;
}
.forgot-password .login-form {
  margin-top: 30px;
  padding: 0 30px;
}
.forgot-password /deep/ .van-field__label {
  width: 80px;
  color: #323337;
  font-size: 14px;
  font-weight: 600;
}
.forgot-password /deep/ .login-form .van-field {
  margin-top: 10px;
}
.forgot-password .forgot {
  margin-top: 10px;
  color: #9e9e9e;
}
.forgot-password /deep/ .login-form .van-cell {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #d8d8d8;
}
.forgot-password .login-btn {
  margin-top: 50px;
}
.forgot-password /deep/ .login-btn .van-button--default {
  border: none;
  color: #9d9d9d;
}
