.login {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.login .login-box {
  padding: 10px 0;
}
.login .logo {
  display: flex;
}
.login .logo-icon {
  width: 36px;
  height: 36px;
  margin-top: 14px;
  background: url(../images/logo.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.login .logo-title {
  line-height: 46px;
  margin-left: 10px;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  color: #323337;
}
.login .logo-cname {
  margin-top: -26px;
  font-size: 16px;
}
.login /deep/ .close .van-icon {
  color: #323337;
  font-size: 18px;
}
.login .login-content {
  margin-top: 80px;
  padding: 0 30px;
}
.login .content-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}
.login .content-info {
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;
  color: #9e9e9e;
  line-height: 30px;
}
.login .login-form {
  margin-top: 50px;
  padding: 0 30px;
}
.login /deep/ .van-field__label {
  width: 60px;
  color: #323337;
  font-size: 14px;
  font-weight: 600;
}
.login /deep/ .login-form .van-field {
  margin-top: 30px;
}
.login .forgot {
  margin-top: 10px;
  color: #9e9e9e;
}
.login /deep/ .login-form .van-cell {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #d8d8d8;
}
.login .login-btn {
  margin-top: 50px;
}
.login /deep/ .login-btn .van-button--default {
  border: none;
  color: #9d9d9d;
}
.login .register {
  margin-top: 20px;
}
.login .register-box {
  padding: 40px 30px 0;
}
.login /deep/ .register-box .van-cell {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #d8d8d8;
}
.login /deep/ .register-box .van-field {
  margin-top: 10px;
}
.login .register-box-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.login .register-btn {
  margin-top: 20px;
}
