.menu .search {
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu .adv {
  width: 100%;
  height: 160px;
  background-image: url(../images/adv_02.jpg);
  background-position: 100% 70%;
  background-size: cover;
}
.menu .menu-box {
  margin-top: 10px;
  overflow-x: auto;
  position: sticky;
  top: 54px;
  background-color: #fff;
  z-index: 1;
}
.menu .menu-list {
  display: flex;
}
.menu .menu-item {
  width: 80px;
  padding: 10px 0;
}
.menu .menu-item.active {
  color: #549434;
}
.menu .menu-img {
  width: 50px;
  height: 50px;
  margin: 0 16px;
}
.menu .menu-title {
  font-size: 14px;
  text-align: center;
}
.menu .menu-product {
  padding: 10px 10px;
}
.menu .product-item {
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.menu .p-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.menu .p-content {
  margin-left: 20px;
  line-height: 20px;
  width: calc(100% - 80px);
}
.menu .p-title {
  font-size: 14px;
  font-weight: bold;
}
.menu .p-enname {
  color: #a5a5a5;
}
.menu .p-price {
  font-size: 15px;
  font-weight: bold;
  color: #549434;
}
.menu .p-add {
  font-size: 22px;
  margin-top: -20px;
}
